
.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 5px 5px  2px rgb(57, 57, 66);s */
}
body {
    margin-top: 200px;
    margin-bottom: 200px;
    background-image: url(/starry-galaxy-dark-infinite-milky-way-twinkle-cosmos-astrology-interstellar-background_695763-1446.avif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:10px;
}
img {
    max-width: 100%;
    max-height: 500px;
    cursor: pointer;
}

#image-container {
    position: relative;
}

#messages {
    color: rgb(223, 26, 26);
    background-color: rgb(216, 230, 202);
    padding: 10px 10px 10px 10px ;
    box-shadow: 2px 2px 2px 2px rgb(36, 36, 51);
    font-weight: 800;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
h1 {
    color: whitesmoke ;
}